body{
    background-color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif; 
}

.header {
    position: fixed;
    background-color: whitesmoke;
    padding: 30px 0;
   
    width:100%;
    color: #fc7b7b;
    margin-top: -10px;
    display: flex;
    justify-content: space-between;
    
}
.logo-text {
    margin-left: 20px;
    font-size: 20px;
}
.header li {
    display: inline;
    list-style: none;
    margin-right: 7px;
}

.header ul {
    padding: 0;
    margin: 0 30px 0 0;
}



.first-block{
    background-image: url(/imgs/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    min-height: 800px;
    top: 40px;

}
.second-block {
    display: flex;
    padding: 40px 50px 70px;
}

.second-block-img {
    padding-right: 35px;
}

.second-block-text {
    padding-top: 30px;
}

button {
    margin-top: 30px;
    border-radius: 4px;
    border: 1px solid white;
    padding: 15px 25px;
    font-size: 16px;
    background-color: #fc7b7b;
    color: white;
    transition: all 150ms ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: #f25e5e;
}

.img-wrapp {
    
    display: flex;
justify-content: space-evenly;
}



.img-wrapp img {
    width: 480px;
    height: 350px;
    border-radius: 2px;

}

.caption {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.footer {
    padding: 100px 0 50px;
    text-align: center;
}

.footer h4{
margin-top: 40px;
}

.contacts {
    margin:0;
    padding: 0;
    list-style: none;

}
.media-links {
    padding: 0;
    margin-top: 20px;
}
.media-links li {
    display: inline;
    margin-right: 10px;
}