body{
    background-color: whitesmoke;
}

.header {
    position: fixed;
    
    background-color: whitesmoke;
    padding: 30px 0px;
    width:100%;
}

.first-block{
    background-image: url(/imgs/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    
    min-height: 800px;
    top: 40px;

}
.second-block {
    display: flex;
}